#links {
    border-bottom: 4px solid black;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 24px 32px;
  }
  
  nav a:hover {
    background: black;
    color: white;
  }

  nav {
    border-bottom: 4px solid black;
    text-align: center;
    width: 100%;
    background: black;
  }

  nav btn {
    justify-content: center;
    margin-right: 6px;
    width: 150px;
  }