

  .consulting {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .consulting label {
    text-align: left;
    display: block;
  }

.consulting h1 {
  font-size: 40px;
  color: #0a0214;
  margin-bottom: 30px;
}

  .consulting input, .consulting textarea, .consulting select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }

  .consulting button {
    background: #11e261;
    color: #fff;
    text-decoration: solid;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }


  